.card {
    width: 350px;
    height: 250px;
    border: 5px solid transparent ;
    border-radius: 2%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;

}
.lightblue{

    border-top-color : rgba(68, 211, 210, 1);

}
.red {

    border-top-color : rgba(234, 84, 84, 1);

}
.yellow {

    border-top-color : rgba(252, 174, 74, 1);

}
.blue {

    border-top-color: rgba(84, 158, 242, 1);

}
.h2 {

    font-size: 1.25rem;
    padding-top: 1rem;
    padding-left: 2rem;
    
}
.p {
    
    font-size: 1rem;
    padding:0 2rem;

}
.img {

    float: right;
    padding-top: 2rem;
    padding-right: 2em;

}

.grid {

    transform: translateY(180px);

}


@media (max-width: 1000px) {

	.grid{

        transform: translateY(0px);

	}

}

.grid2 {

    grid-column: 2;
    grid-row: 1;

}

.grid3{

    grid-column: 2;
    grid-row: 2;
    
}

.grid4 {

    grid-column: 3;
    grid-row: 1;
    transform: translateY(180px)

}

@media (max-width: 1000px) {

	.grid4{

        transform: translateY(0px);

	}

}