body {
	font-family: sans-serif;
}

.container {

	display: grid;
	justify-content: center;
	align-items: center;
	gap: 20px;

}

@media (max-width: 1000px) {

	.container{

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

	}

}